* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

:root {
    --blue-basis: #2d90ece6;
    --light-grey: #cccfd18c;
    --articles-colour: white;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, 20%) 5fr;
    height: 100%
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: var(--articles-colour);
    display: grid;
    grid-template: 1fr 1fr / 5fr 3fr;
    margin-bottom: 10px;
    box-shadow: 0px 3px 20px #5a5959;
}

.header-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item1 > span::before {
    content: url("images/search.svg");
}

input {
    border-radius: 20px;
    color:rgba(23, 24, 23, 0.938);
    font-size: 1rem;
    width: clamp(250px, 75%, 700px);
    margin: 15px;
    border: none;
    background-color: rgba(45, 144, 236, 0.212);
    padding: 5px;
}

.header-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-item2 > div:nth-child(3) {
    font-size: 1.1rem;
    font-weight: bold;
}

#header-logo {
    background-color: rgb(255, 187, 0);
    border-radius: 100%;
}

.header-item3 {
    display: grid;
    grid-template: 2fr 3fr / 1fr 3fr;
    padding: 5px 30px 5px 30px;
}

.header-item3 > div:first-child {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.header-item3 > div > img {
    background-color: rgb(255, 187, 0);
}

.header-item3 > div:nth-child(2) {
    align-self: flex-end;
}

.header-item3 > div:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    border: none;
    border-radius: 20px;
    background-color: var(--blue-basis);
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    font-weight: bold;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--blue-basis);
    color: white;
    box-shadow: 3px 0px 5px #8d8d8d;
}

.dashboard-logo-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
}

.logo {
    display: grid;
    height: 40px;
    width: 40px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    /* align-items: end;
    justify-items: end; */
    gap: 5px;
}

.logo > div {
    background-color: var(--articles-colour);
}

.logo-item1 {
    grid-area:  1 / 1 / 3 / 2;
}

.logo-item2  {
    grid-area: 1 / 2 / 2 / 3;
}

.logo-item3  {
    /* justify-self: start; */
    grid-area: 3 / 1 / -1 / 2;
}

.logo-item4  {
    grid-area: 2 / 2 / -1 / 3;
}

.sidebar-links-container {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 60px;
}

.sidebar-links-container > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-links-container > div > li {
    font-weight: bold;
}

.sidebar-links::before {
    margin-right: 20px;
}

#home::before {
    content: url(images/home.svg);
}

#profile::before {
    content: url(images/profile.svg);
}

#messages::before {
    content: url(images/messages.svg);
}

#history::before {
    content: url(images/history.svg);
}

#tasks::before {
    content: url(images/tasks.svg);
}

#communites::before {
    content: url(images/communities.svg);
}

#settings::before {
    content: url(images/settings.svg);
}

#support::before {
    content: url(images/support.svg);
}

#privacy::before {
    content: url(images/privacy.svg);
}

.articles {
    grid-area: 2 / 2 / -1 / -1;
    display: flex;
}

.projects {
    flex: 3 0 550px;
    background-color: var(--light-grey);
}

.project-title,
.announcement-title,
.trending-title {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -10px;
}

.project-title {
    margin-left: 50px;
}

.project-items {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 20px;
    margin: 25px 50px;
    min-height: 90%;
    min-width: 400px;
}

.project-item {
    display: grid;
    grid-template: .8fr 1.5fr 1fr / 1fr 20fr;
    background-color: var(--articles-colour);
    border-radius: 10px;
    box-shadow: 4px 4px 5px #8d8d8d;
}

.project-item > div:nth-child(1) {
    background-color: rgb(255, 187, 0);
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 10px 0px 0px 10px;
}

.project-subtitle {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.project-desc {
    margin-left: 20px;
    margin-right: 10px;
}

.project-links {
    grid-area: 3 / 2 / 4 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.project-links > div {
/*     border: 1px solid black; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;
    padding: 5px;
}

/* img:hover {
    background-color: #84c8f5;
} */

.anounc-trend-container {
    flex: 1 3 200px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
}

.anouncements,
.trending {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.anouncements-container,
.trending-container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.anouncements-container > div:nth-child(1),
.trending-container > div:nth-child(1) {
    background-color: var(--articles-colour);
    margin: 0px;
    flex: 1 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #8d8d8d;
}

.anouncements-container > div {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
}

.anouncements-container > div:nth-child(1) > div:nth-child(1),
.anouncements-container > div:nth-child(1) > div:nth-child(2) {
    border-bottom: 2px solid #e4e2e2;
}

.anouncement-items {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.announce-subtitle {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 5px;
}

.announce-text {
    font-size: .85rem;
}

.trending-container > div {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 3fr;
    padding: 30px;
    gap: 5px;
}

.user-logo {
    padding: 7.5px;
    background-color: rgb(0, 132, 255);
    border-radius: 100%;
}

.trending-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content:  center;
}

.trending-item > div:first-child {
    font-size: 1rem;
    font-weight: bold;
}

.trending-item > div:nth-child(2) {
    font-size: .85rem;
}

