* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, 20%) 5fr;
    height: 100%
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: aliceblue;
    display: grid;
    grid-template: 1fr 1fr / 5fr 3fr;
}

.header-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 20px;
    color:rgba(23, 24, 23, 0.938);
    font-size: 1rem;
    width: clamp(250px, 65%, 500px);
    margin: 15px;
    border: none;
    background-color: rgba(45, 144, 236, 0.212);
    padding: 5px;
}

.header > div {
    border: 1px solid black;
}

.header-item3 {
    display: grid;
    grid-template: 2fr 3fr / 1fr 3fr;
    padding: 5px 30px 5px 30px;
}

.header-item3 > div {
    border: 1px solid black;
}

.header-item3 > div:first-child {
    grid-area: 1 / 1 / 3 / 2;
}

.header-item3 > div:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: rgba(45, 144, 236, 0.938);
    color: white;
}

.dashboard-logo-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
}

.logo {
    display: grid;
    height: 40px;
    width: 40px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    /* align-items: end;
    justify-items: end; */
    gap: 5px;
}

.logo > div {
    background-color: aliceblue;
    font-size: .5rem;
}

.logo-item1 {
    grid-area:  1 / 1 / 3 / 2;
}

.logo-item2  {
    grid-area: 1 / 2 / 2 / 3;
}

.logo-item3  {
    /* justify-self: start; */
    grid-area: 3 / 1 / -1 / 2;
}

.logo-item4  {
    grid-area: 2 / 2 / -1 / 3;
}

.sidebar-links-container {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 60px;
}

.sidebar-links-container > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-links-container > li::before {
    content: "a ";
}

.articles {
    grid-area: 2 / 2 / -1 / -1;
    background-color: antiquewhite;
    display: flex;
}

.projects {
    flex: 3 1 500px;
    background-color: aqua;
}

.anounc-trend-container {
    flex: 1 2 200px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}