* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

:root {
    --blue-basis: rgba(45, 144, 236, 0.9);
    --light-grey: #cccfd18c;
    --articles-colour: white;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / minmax(300px, 20%) 5fr;
    height: 100%
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: aliceblue;
    display: grid;
    grid-template: 1fr 1fr / 5fr 3fr;
}

.header-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item1 > span::before {
    content: url("images/search.png");
}

input {
    border-radius: 20px;
    color:rgba(23, 24, 23, 0.938);
    font-size: 1rem;
    width: clamp(250px, 65%, 500px);
    margin: 15px;
    border: none;
    background-color: rgba(45, 144, 236, 0.212);
    padding: 5px;
}

.header > div {
    border: 1px solid black;
}

.header-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-item3 {
    display: grid;
    grid-template: 2fr 3fr / 1fr 3fr;
    padding: 5px 30px 5px 30px;
}

.header-item3 > div {
    border: 1px solid black;
}

.header-item3 > div:first-child {
    grid-area: 1 / 1 / 3 / 2;
}

.header-item3 > div:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bold;
}

.header-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    border: none;
    border-radius: 20px;
    background-color: var(--blue-basis);
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    font-weight: bold;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--blue-basis);
    color: white;
}

.dashboard-logo-text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
}

.logo {
    display: grid;
    height: 40px;
    width: 40px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    /* align-items: end;
    justify-items: end; */
    gap: 5px;
}

.logo > div {
    background-color: var(--articles-colour);
}

.logo-item1 {
    grid-area:  1 / 1 / 3 / 2;
}

.logo-item2  {
    grid-area: 1 / 2 / 2 / 3;
}

.logo-item3  {
    /* justify-self: start; */
    grid-area: 3 / 1 / -1 / 2;
}

.logo-item4  {
    grid-area: 2 / 2 / -1 / 3;
}

.sidebar-links-container {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 60px;
}

.sidebar-links-container > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#home::before {
    content: url(images/home.svg);
}

#profile::before {
    content: url(images/profile.svg);
    height: 28px;
    width: 28px;
}

.articles {
    grid-area: 2 / 2 / -1 / -1;
    display: flex;
}

.projects {
    flex: 3 1 450px;
    background-color: var(--light-grey);
}

.project-items {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 20px;
    margin: 25px 50px;
    min-height: 90%;
}

.project-item {
    display: grid;
    grid-template: 1fr 1.5fr 1.2fr / 1fr 20fr;
    background-color: var(--articles-colour);
    border-radius: 10px;
   /*  box-shadow: 1px 1px 1px 1px; */
}

.project-item > div:nth-child(1) {
    background-color: rgb(255, 187, 0);
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 10px 0px 0px 10px;
}

.project-subtitle {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.project-desc {
    margin-left: 20px;
}

.project-links {
    grid-area: 3 / 2 / 4 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.project-links > div {
/*     border: 1px solid black; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;
    padding: 5px;
}

img:hover {
    background-color: #84c8f5;
}

.anounc-trend-container {
    flex: 1 2 300px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
}

.anouncements,
.trending {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.anouncements-container,
.trending-container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.anouncements-container,
.trending-container > div:nth-child(1) {
    background-color: var(--articles-colour);
    margin: 0px;
    flex: 1 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 10px;
}